@using static JaleIdentity.Controllers.AccountController
@model ResetPasswordDto


<form method="post">


    <input asp-for="Password" />
    <input asp-for="ConfirmPassword" />
    <button type="submit">submit</button>
</form>